{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "bracketSameLine": false,
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": [
        "*.html"
      ],
      "options": {
        "printWidth": 80
      }
    }
  ]
}