<div class="lunch-search">
  <app-input
    [labelText]="'Lunch search'"
    [placeholer]="'type your favorive lunch...'"
    [icon]="'search'"
    [errorText]="'Please enter at least 2 characters.'"
    [validators]="searchValidators"
    (inputChange)="getRecipies($event)"
  ></app-input>
</div>
<div class="lunches">
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
  <p>Lunches component works</p>
</div>
