@use 'src/app/core/theme/colors' as colors;

.lunch-search {
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: colors.$color-white;
  box-shadow: 0 1rem 2rem -2rem colors.$color-black;
}

.lunches {
  padding: 1rem;
  height: calc(100vh - 10rem);
}
