body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
  
* {
  box-sizing: border-box;
}
  
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
p {
  margin: 0;
}
  
a {
  width: fit-content;
  text-decoration: inherit;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
